<div
  class="herosection"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="center start"
>
  <div class="inner_left" fxFlex="60" fxFlex.sm="70">
    <p></p>
    <div class="herotext">
      <h1 class="mat-display-2">
        Tóth Péter <small class="mat-h1">egyéni vállalkozó</small>
      </h1>
      <h3 class="mat-h2">Elérhetőségek:</h3>
      <ul>
        <li class="mat-h3">
          Email: <a href="email:tothozon@gmail.com">tothozon@gmail.com</a>
        </li>
        <li class="mat-h3">
          Tel: <a href="tel:+36309851249">+36 30 9851 249</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="inner_right" fxFlex="40">
    <div class="jobb_cim">
      <h1 class="mat-display-3">ÓZONOS</h1>
      <h3 class="mat-h3">fertőtlenítés a nap minden szakaszában!</h3>
      <!-- <button
        type="button"
        mat-raised-button
        color="primary"
        class="mat-elevation-z10"
        (click)="scroll(panelek)"
      >
        Részletek
      </button> -->
    </div>
  </div>
</div>

<!-- <div
  #panelek
  class="panelek"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
>
  <mat-card fxFlex="400px">
    <div class="p1">1</div>
  </mat-card>
  <mat-card fxFlex="400px">
    <div class="p2">2</div>
  </mat-card>
  <mat-card fxFlex="400px">
    <div class="p3">3</div>
  </mat-card>
</div> -->
