.herosection {
  background-image: url('/assets/tothozon-hatter-big.jpg');
  margin: 0;
  padding: 0;
  height:100vh;
  /* min-height:calc(max(90vh, 500px)); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*
.inner_left, .inner_right {
  border: 1px solid green;
}
 */

 .inner_right {
  text-align: center;
  margin-top:20vh;
}
.inner_right h1 {
  font-weight: 700;
  font-size: 70px;
  margin-top:10vh;
  margin-bottom:10px;
}

.herotext {
  margin-left: 3em;
}

h1 {
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 0.5em;
}
li {
  margin-bottom: 0;
}

p {
  margin:0;
  padding:0;
  min-height: 2em;
}

.panelek {
  margin-top: 10vh;
}

/*
.panelek div {
  border: 1px solid green;
}
*/
