<div
  class="herosection"
  fxLayout="row"
  fxLayoutGap="150px"
  fxLayoutAlign="center center"
>
  <div class="inner_left">
    <p></p>
    <div class="herotext">
      <h1 class="mat-display-2">
        Tóth Péter <small class="mat-h1">egyéni vállalkozó</small>
      </h1>
      <h3 class="mat-h2">Elérhetőségeim:</h3>
      <ul>
        <li class="mat-h3">
          Email: <a href="email:tothozon@gmail.com">tothozon@gmail.com</a>
        </li>
        <li class="mat-h3">
          Tel: <a href="tel:+36309851249">+36 30 9851 249</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="inner_right">Ez a jobb.</div>
</div>

<div style="text-align: center">
  <h1>Itt hamarosan megnyílik a {{ title }} weboldal!</h1>
</div>
