

<div
  id="panelek"
  #panelek
  class="panelek"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
>
  <mat-card class="tri-card" fxFlex="400px 0 0">
    <div class="p1">
      <img src="/assets/allergia1.jpg">
    </div>
  </mat-card>
  <mat-card class="tri-card" fxFlex="400px 0 0">
    <div class="p2">
      <img src="/assets/cigi1.jpg">
    </div>
  </mat-card>
  <mat-card class="tri-card" fxFlex="400px 0 0">
    <div class="p3">
      <img src="/assets/eloskodo1.jpg">
    </div>
  </mat-card>
</div>

